body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: #F3F3F3;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 0.3em;
  border: 1px solid #3F8599;
  border-radius: 4px;
}
