body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: #F3F3F3;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
