body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: #F3F3F3;
}

.bodyContent {
  display: flex;
  flex-direction: column;
}

input[type="text"],
button {
  padding: 0.3em;
  border: 1px solid #3F8599;
  border-radius: 4px;
}

button {
  display: inline-flex;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 8px;
}

button:disabled {
  cursor: default;
}
